header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(225, 211, 193);
    padding: 10px 20px;
    color: white;
    height: 3.5rem;
}

.search-bar input{
    
   border-radius: 5px;
   padding:  4px 8px;
    outline: none;
    border: none;
    width: 300px;
}